# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JavaProject\houduan000002\github-java-source\TIDEA_Java__Core\chuanzhiyiliao____project\test__Good\health_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
